@model List<ListOfVCViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-body">
        <p>
            <a class="btn btn-secondary" asp-action="Create">Varlık'a Kategori Ata</a>
        </p>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Varlık
                    </th>
                    <th>
                        Kategorisi
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.VarlikName
                        </td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            @item.UserName
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>