@model CreateVarlikViewModel


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5>Varlık Oluştur</h5>
                <hr />

                <form asp-controller="Varliks" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="VarlikName" class="control-label">Varlik Adı</label>
                        <input asp-for="VarlikName" class="form-control" />
                        <span asp-validation-for="VarlikName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VarlikCode" class="control-label">Varlik Kodu/Modeli</label>
                        <input asp-for="VarlikCode" class="form-control" />
                        <span asp-validation-for="VarlikCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VarlikDescription" class="control-label">Varlik Açıklaması</label>
                        <input asp-for="VarlikDescription" class="form-control" />
                        <span asp-validation-for="VarlikDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUserId" class="control-label">Varlik Sahibi</label>
                        <select asp-for="AppUserId" class="form-select js-select2" data-search="on" asp-items="ViewBag.AppUserId"></select>
                        <span asp-validation-for="AppUserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Oluştur" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-info">Listeye Geri Dön</a>
        </div>
    </div>
</div>

